.login{
    margin-top: 10%;
}

.fundo{
   background: linear-gradient(to right, rgb(228, 214, 18), rgb(37, 236, 87));
   border-radius: 10px;
}

.imageFundoLogin{
    background: url("../image/vamos.png") 10px 10px/50px 50px no-repeat;
    padding: 50px 40px;
    background-position: center;
    background-size: 50%;

}

.login-field{
   opacity: 0.73;
}
